@{
    ViewBag.Title = "Contact";
}

<center><h1>Contacts</h1></center>


<center>
    <address>
        <strong><font size="6">LinkedIn page:</font></strong>   <a href="https://www.linkedin.com/in/brittany-cross-648108100"><font size="6">linkedin.com</font></a><br />
        <strong><font size="6">GitHub page:</font></strong> <a href="https://github.com/crossby2013"><font size="6">github.com</font></a>
    </address>
</center>
