@{
    ViewBag.Title = "About";
}
<div class="container body-content">
    <center><h2>About Me</h2></center>
    <center><h3>My life and career goals</h3></center>


    <center>
        <img src="~/Content/Images/rsz_01abdf9f-40cf-4b1b-98fc-4df95fb5e48a.jpg" />
    </center>

    <p>
        My name is Brittany Nicole Cross. I have a Bachelors Degree of Science in Education from the University of Akron. My major was Exercise Science. I became lost and was not sure what I wanted to do with my degree.
        I have a 3 year old son name Donald. He is my world!!! I don't want him to know what it feels like to see his parents struggle financially, like I did.
    </p>

    <p>
        I heard about We Can {Code} It from Dr. Patricia Ackerman who is a member at my church.
        God answered my prayers by showing me this opportunity. I have been living paycheck to paycheck and I need a huge financial breakthrough. We Can {Code} It bootcamp has allowed me to see a better future for me and my son. I am ready to work for a company and show them how much of a hard worker I am.
        I am ready to grow and continously learn more and more about programming.
    </p>

    <p>
        I am interested in back-end of computer programming and want to work on websites and mobile applications. My ultimate goal is to combine my exercise science degree and computer programming together to make a mobile application to help prevent childhood obesity. I have already started
        working on this by creating a website that gives examples of fun indoor and outdoor moderate to vigorous intense activities for children and examples of healthy foods children can eat for breakfast, snack, lunch, and dinner.
    </p>
    <center><h2><font size="6"><b>Skills:</b></font></h2></center>
    <div style="float: left; width: 33%;">
        <ul>
            <li><font size="4">.NET and #C</font></li>
            <li><font size="4">JavaScript</font></li>
            <li><font size="4">jQuery</font></li>
            <li><font size="4">Git Bash</font></li>
            <li><font size="4">GitHub</font></li>
        </ul>
    </div>
    <div style="float: left; width: 33%;">
        <ul>
            <li><font size="4">Html</font></li>
            <li><font size="4">CSS</font></li>
            <li><font size="4">Lamdba Expressions</font></li>
            <li><font size="4">Visual Studio 2013</font></li>
            <li><font size="4">SQL Server Management Studio</font></li>
        </ul>
    </div>
    <div style="float: right; width: 33%;">
        <ul>
            <li><font size="4">Bootstrap</font></li>
            <li><font size="4">ASP.NET MVC</font></li>
            <li><font size="4">Customer Service</font></li>
            <li><font size="4">LINQ</font></li>
            <li><font size="4">Scrum</font></li>
        </ul>
    </div>

    <center>
        <address>
            <strong><font size="3">GitHub page:</font></strong><a href="https://github.com/crossby2013"><font size="3">github.com</font></a>
        </address>
    </center>
   

</div>