@{
    ViewBag.Title = "Contact";
}

   
        
   <div class="container body-content">
    <center><h1><font size="8">Contact</font></h1></center>
       </div>
    <div id="jumbo2" class="jumbotron">



    </div>


<div class="container body-content">
    <center><p><font size="6">If you are interested in finding out more about me, feel free to look me up!!</font></p></center>



    <center>
        <address>
              <a href="https://www.linkedin.com/in/brittany-cross-648108100"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/2000px-LinkedIn_Logo.svg.png" style="width:200px;height:100px;border:0;"></a> <br />
             <a href="https://github.com/crossby2013"><img src="https://farm3.staticflickr.com/2238/13158675193_57c63fae1e_o_d.png" style="width:200px;height:100px;border:0;"></a>
        </address>
    </center>
    </div>
